body{
	font-family:Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
p{
	font-size:16px
}

h1,h2,h3,h4,h5,h6{
	 font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	 font-weight:400;
	 color:#000;
	 margin-bottom:15px;
}
 
header{
	background:#eee60c;
}
header .container{
	padding-top:200px;
	padding-bottom:100px;
}
header .intro-text .name{
	font-size:38px;
	text-transform:inherit;
	text-align:center;
	margin-bottom:20px;
	display:block;
	font-weight:700;
	color:#000;
}
.logo{
	background:url(../images/logo.png) no-repeat;
	background-size:100%;
	width:208px;
	height:66px;
	margin-left:15px;
	text-indent:-999999px;
}
.navbar-custom{
	 background:#fff;
	 font-weight:700;
	 border:none; padding:10px 0;
}
.navbar-custom a:focus{outline:0}
.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
	font-size:16px;
}
 .navbar-custom .navbar-nav{
	 letter-spacing:1.5px;
	 margin-top:15px;
}
.navbar-custom .navbar-nav li a:hover{
	color:#fff;
	outline:0;
	background:#e16419;
}
.navbar-custom .navbar-nav li a:active,
.navbar-custom .navbar-nav li a:focus{
	color:#fff;
	background:#e16419;
}
.navbar-custom .navbar-nav li.active a,
.navbar-custom .navbar-nav li.active a:active,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:hover{
	color:#fff; background:#e16419;
}
.navbar-custom .navbar-toggle{
	 color:#fff; text-transform:uppercase;
	 font-size:10px; 
	 border-color:#fff;
	 background:none;
	 margin-top:4px;
	 margin-right:0px;
	 
}
.navbar-custom .navbar-toggle:focus,.navbar-custom .navbar-toggle:hover{
	 background-color:transparent;
	 color:#fff;
	 border-color:none;
}
.navbar-custom .navbar-brand, .navbar-custom .navbar-brand.active,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav li a{
    color: #000;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-collapse {
    border-top: 0px solid transparent;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.btn, .form-control{
	border-radius:0px;
}
header .form-control{
	height:46px;
}
.btn.btn-launch,
.btn.btn-find{
	font-size:18px;
	background:#000;
	color:#fff;
	padding:10px 80px;
}
.btn.btn-find:hover{
	background:#fff;
	color:#000;
}
.btn.btn-launch{
	background:#e16419;
}
.btn.btn-launch:hover{
	background:#000;
}
.btn-section{
	margin-top:30px;
	text-align:center;
}
.seprator{
	padding:60px 0;
}
.address{
	color:#e16419;
	font-size:16px;
}
.what-we-do{
	margin-right:30px;
}
.gray-box{
	background:#f7f7f7;
	
}
footer{
	background:#2e2e2e;
	padding:40px;
	text-align:center;
}
footer ul.nav li{
	display:inline-block;
	
}
footer ul.nav li a{color:#676767; font-size:15px; padding:0px 20px;}
footer ul.nav li a:hover{
	background:none;
	color:#fff;
}
.copyright{
	color:#4d4d4d;
	font-size:13px;
	margin-top:20px;
}


@media (max-width:767px){
.logo{
	width:150px;
	height:50px;
	margin-top:-2px;

}
.seprator{
	padding:40px 0;
}
header .container{
	padding-top:120px;
	padding-bottom:50px;
}
header .intro-text .name {
    font-size: 28px;

}
.navbar-nav > li > a {
	text-align:center;
	padding:12px;
	border-bottom:1px solid #e6e6e6;
	margin-bottom:0px;
 
}
.navbar-custom{
	padding-bottom:0px;
	box-shadow:4px 0px 4px #ccc;
	-webkit-box-shadow:4px 0px 4px #ccc;
	-ms-box-shadow:4px 0px 4px #ccc;
}
 .navbar-custom .navbar-nav{
	 letter-spacing:1.5px;
	 margin-top:0px;
	 margin-bottom:0px;
}
footer{
	padding:20px;
}

}

 #map {
        height: 100%;
      }
.controls {
        background-color: #fff;
        border-radius: 2px;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        height: 29px;
        margin-left: 17px;
        margin-top: 10px;
        outline: none;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      .controls:focus {
        border-color: #4d90fe;
      }
      .title {
        font-weight: bold;
      }
      #infowindow-content {
        display: none;
      }
      #map #infowindow-content {
        display: inline;
      }